/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 25, 2014, 12:40:14 AM
    Author     : DinhTrong
*/
@media (min-width: 800px) {
    .container {
       max-width: 1200px;
    }
}
body {
    background: #F2F2F2;
    font-family: Tahoma,Helvetica,Arial,sans-serif
}
a:focus,button:focus, [type="submit"]:focus {
    outline: 0;
    outline: none;
}
.webpage {
  background-color: #FFFFFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);
  min-height: 400px;
  padding: 35px;
}
.page-content {
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background: transparent;
    color: #222222
}
.navbar-collapse > ul {
    padding-top: 10px;
}
.breadcrumb {
    background: transparent;
    margin-top: 0;
    padding-top: 0;
}
.breadcrumb li:nth-child(1) {
   font-size: 2.5em;
}
.breadcrumb li:nth-child(2){
    font-size: 2.3em;
}
.breadcrumb li:nth-child(3){
    font-size: 1.5em;
}
.breadcrumb li:nth-child(4){
    font-size: 1.5em;
}
.breadcrumb a,.breadcrumb li {
    text-decoration: none;
    font-weight: 100;
}
.breadcrumb a,.breadcrumb li,h1,h2,h3,h4,th {
     font-family: 'Open Sans',Tahoma,Helvetica,Arial,sans-serif;
}
.sidebar-title {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 8px;
}
.actions-sidebar {
}
.actions-sidebar li {
    padding: 3px 0px;
}
#footer {
    margin:20px 0px;
    text-align: center;
    font-size: 0.8em
}
#main-nav {
    background: transparent;
    border: none;
    margin-bottom: 10px;
}
#main-nav .navbar-brand {
    width: 131px;
    height: 61px;
    background: url('../img/tool-logo.png');
    background-size: cover;
    text-indent: -9999px;
}
.avatar-td img {
    max-width: 30px;
    border: 1px solid #ccc;
}
form label {
    font-weight: normal
}
.webpage > h3:first-child {
    margin-top: 0
}
form .form-actions {
    margin-top: 20px;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
   
}
.help-inline {
    color: #AF2018
}
.control-group {
    margin-bottom: 15px;
}
.actions-td {
    min-width: 60px
}
.actions-td > a, .actions-td [type="submit"]{
    width: 27px;
    height: 27px;
    display: inline-block;
    background-size: cover;
    text-indent: -9999px;
    border: none;
    background-color: transparent;
    opacity: .6;
}
.actions-td > a:hover, .actions-td [type="submit"]:hover {
   opacity: 1; 
}
.actions-td a.edit {
    background: url('../img/edit-small.png') top left no-repeat;
    margin-right: 7px;
}
.actions-td a.resource {
    background: url('../img/resources-small.png') top left no-repeat;
    margin-right: 7px;
}
.actions-td  form {
    display: inline-block
}
.actions-td [type="submit"]{
     background: url('../img/recycle-small.png') top left no-repeat;
     position: relative;
     top:3px;
}
.actions-sidebar form [type="submit"]{
    border: none;
    background: transparent;
    color: #428bca;
    padding: 0;
}
.actions-sidebar form [type="submit"]:hover {
    text-decoration: underline
}
.link-user-avatar img {
    width: 70px;
    border: 1px solid #ccc;
}
.link-user-name {
    width: 70px;
    height: 70px;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 1em;
    text-align: center;
    line-height: 70px;
    border-radius: 50%;
    text-decoration: none;
}
.link-user-name:hover {
    text-decoration: none;
}
#alert-page {
    position: fixed;
    top:0;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    z-index: 9999;
}
#alert-page .alert {
    width: 100%;
    text-align: center
}
/************* ADD PROJECT *****************/
.project-manager {
    height: 100px;
    border: 1px solid #ccc;
    list-style: none;
    padding-top: 15px;
    padding-left: 0;
    text-align: center
}
.project-manager li  {
    margin: auto;
    text-align: center;
    width: 70px;
    height: 70px;
}
#project-member {
   min-height: 200px;
   border: 1px solid #ccc;
   list-style: none;
   padding: 0; 
}
#project-source-resource {
    min-height: 335px;
    border : 1px solid #ccc;
    list-style: none;
    padding: 0;
}
#project-source-resource li,#project-member li {
    display: inline-block;
    margin: 8.5px;
}